@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cannu';
  src: url('/assets/fonts/CannuRegular.ttf') format('truetype');
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 3s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 243, 243);
}

